<div class="container">
<%= bootstrap_devise_error_messages! %>
<div class="panel panel-default devise-bs">
  <div class="panel-heading">
    <h4>Update your profile details</h4>
  </div>
  <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <div class="form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, autofocus: true, class: 'form-control', placeholder: 'Please enter your firstname' %>
      </div>
      <div class="form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: 'form-control', placeholder: 'Please enter your lastname'  %>
      </div>
      <div class="form-group">
        <%= f.label :contact_number %>
        <%= f.text_field :contact_number, class: 'form-control', placeholder: 'Please include the country code'  %>
      </div>
      <div class="form-group">
        <%= f.label :gender %>
        <%= f.select :gender, ['Male', 'Female', 'Other', 'Prefer not to answer'], class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :date_of_birth %>
        <%= f.date_select :date_of_birth, :start_year => 1900, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :address %>
        <%= f.text_area :address, class: 'form-control', maxlength: 250, rows: 4, placeholder: 'Please enter your complete address along with postcode, only 250 characters allowed.'  %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control', placeholder: 'Please enter your email id'  %>
      </div>
      <div class="form-group">
        <%= f.label :new_password %>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: "leave it blank if you aren't changing your password" %>
      </div>
      <div class="form-group">
        <%= f.label :new_password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "leave it blank if you aren't changing your password"  %>
      </div>
      <div class="form-group">
        <%= f.label :current_password %> <span class="font-color-red"><b>(<%= t('.we_need_your_current_password_to_confirm_these_changes', default: 'we need your current password to confirm these changes') %>)</b></span>
        <%= f.password_field :current_password, class: 'form-control', placeholder: "Enter current password to confirm these changes" %>
      </div>
      <%= f.submit t('.update', default: 'Update'), class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<p><%= t('.unhappy', default: 'Unhappy') %>? <%= link_to t('.cancel_my_account', default: 'Cancel my account'), registration_path(resource_name), data: { confirm: t('.are_you_sure', default: "Are you sure?") }, method: :delete %>.</p>

<%= link_to t('.back', default: 'Back'), :back %>

</div>
